{% extends 'base.html.twig' %}

{% block title %}
  Moviz
{% endblock %}

{% block body %}
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{{ asset('build/images/logo_moviz.png') }}" alt="logo moviz" class="d-block mx-lg-auto img-fluid" width="400" loading="lazy" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Moviz</h1>
      <p class="lead">Moviz offers a film rating and review site to his client. You can review your prefered film any time you want.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
    </div>
  </div>
  <h2>Les derniers films ajoutés</h2>
  <div class="row text-center">
    {% for movie in movies %}
      {% include '_partials/movie/_movie_block.html.twig' %}
    {% endfor %}
  </div>
{% endblock %}
